body {
  background: #EDEDED;
  font-size: 1.25em;
}
header {
  background: #572D14;
}

h1 {

  margin-bottom: 0.5em;
  color: #FFF;
  text-align: center;
}

h1, h2 {
  font-family: Exo, Arial, san-serif;
}

#top-icon {
  float: right;
  background: rgba(255,255,255,1);
  color: #572D14;
  padding: .25em .5em;
  margin: .5em;
  font-weight: bold;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

#top-icon:hover {
  text-decoration: none !important;
  color: #FFF;
  background: rgba(127, 92, 79, .7);
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

nav ul {
  font-family: Cabin, Arial, san-serif;
  font-size: 1.25em;
  text-align: center;
}

nav li {
  padding: .75em 0em !important;
  font-weight: bold;
  background: rgba(127, 92, 79, .7);
  color: white;
  margin-bottom: 1.5em;
  text-transform: uppercase;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

#faq p a {
  background: #FFF;
}

nav li:first-child {
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
}

nav li:last-child {
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;

}

nav li:hover {
  background: rgba(255, 255, 255, .25);
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -ms-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

nav a {
  padding: 0.5em 1.5em;
}

nav a, nav a:hover {
  color: #FFF;
  text-decoration: none;
}

#posts .row {
  font-family: Cabin, Arial, san-serif;
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  margin-bottom: 1em;
  padding-bottom: 1.25em;
}

#posts .panel {
  margin-bottom: 0;
  box-shadow: none;
  min-height: 6em;
}

#posts .panel-body {
  font-size: 1.25em;
}

#posts .panel-heading {
  font-family: exo, cabin, arial, san-serif;
  background: none;
}

.time {
  font-size: .85em;
  margin-left: .85em;
  margin-top: 0.95em;
  font-style: italic;
}

.comment-num {
  text-align: center;
  margin-top: .75em;
  padding: .25em .75em 1.5em .75em;
  background: #6D4A34;
  font-weight: bold;
  font-size: 1.35em;
  font-family: Exo, Arial, san-serif;
  color: #FFF;
  width: 3em;
  height: 1.5em;
  box-shadow: none;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
}

.comment-num:hover, .comment-num:focus {
  box-shadow: none;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
  margin-left: 2.2em;
  margin-top: -1px;
	border-top: 10px solid #6D4A34;
}

.votes {
  font-family: Exo, Arial, san-serif;
  text-align: center;
  font-size: 1.4em;
}

.votes a {
    display: block;
    color: inherit;
    text-decoration: none;
}
